/* Import Google Font */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

/* Global Styles */
* {
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
  color: whitesmoke;
  background-color: #242424;
}

h1, h2 {
  margin-bottom: 20px;
}

.highlight {
  color: lightblue;
}

.container {
  max-width: 800px;
  margin: auto;
  padding: 50px 20px;
}

/* Navbar */
nav {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background: #242424;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 15px;
}

.nav-links a {
  text-decoration: none;
  color: whitesmoke;
  font-weight: 700;
}

.primary {
  background: blue;
  padding: 8px 20px;
  border-radius: 20px;
  color: white;
}

/* About Section */
.profile img {
  width: 200px; 
  height: 200px; 
  border-radius: 50%; 
  object-fit: cover; 
  border: 3px solid #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#logo{
  width: 500px; 
  height: 250px; 
  object-fit: cover; 
  border: 3px solid #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Sphere */

.Sphere {
  display: grid;
  place-items: center;

}

/* Projects */
.projects {
  display: flex;
  justify-content: center;
}

.project {
  display: flex;
  gap: 15px;
  align-items: center;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 10px;
}

.project img {
  width: 100px;
}

.project-info {
  text-align: left;
}

.btn {
  display: inline-block;
  background: lightblue;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  text-decoration: none;
  margin: 5px;
}

/* Footer */
footer {
  padding: 20px;
  background: #242424;
  color: white;
}
